<template>
  <div class="content_step_01">
    <h1>서브2</h1>
  </div>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
  inject,
} from 'vue';

import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { LOADER, USER, IS_LOGINED, TOKEN } from '@/store/mutation_types';

export default defineComponent({
  name: 'ContentStep01',
  components: {},
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;

    const store = useStore();
    const router = useRouter();

    // data
    const state = reactive({});

    // onMounted
    onMounted(function () {
      console.log(componentName, '- onMounted ');
    });

    return { state };
  },
});
</script>
