// local set - public/font

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src:
    url(/font/NotoSansKR-Thin.woff2) format('woff2'),
    url(/font/NotoSansKR-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src:
    url(/font/NotoSansKR-Light.woff2) format('woff2'),
    url(/font/NotoSansKR-Light.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:
    url(/font/NotoSansKR-Regular.woff2) format('woff2'),
    url(/font/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src:
    url(/font/NotoSansKR-Medium.woff2) format('woff2'),
    url(/font/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src:
    url(/font/NotoSansKR-Bold.woff2) format('woff2'),
    url(/font/NotoSansKR-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src:
    url(/font/NotoSansKR-Black.woff2) format('woff2'),
    url(/font/NotoSansKR-Black.woff) format('woff');
}
