// Font notosanskr import

@import url(./font.scss);

// -- 전체 스타일 정의 --

// -- common

$color01: #39fafc;
$color02: #ffde15;
$color03: #aee52a;
$color04: #dda6eb;
$color05: #9fa4a8;

$bgColor01: #1e242b;
$bgColor02: #617287;
$bgColor03: #29313c;

$roomColor01: #5b86f1;
$roomColor02: #7868e5;
$roomColor03: #3770bb;
$roomColor04: #d4943a;

body {
  font-family: 'Noto Sans KR', sans-serif;
  .v-theme--dark {
    --v-theme-background: 30, 36, 43;
  }

  .v-btn {
    letter-spacing: 0;
  }
}

ol,
ul,
li {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px $bgColor01 inset;
  box-shadow: 0 0 0px 1000px $bgColor01 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px $bgColor02 inset;
  box-shadow: 0 0 0px 1000px $bgColor02 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.loading {
  position: relative;
  height: 100%;
  width: 100%;
  div.v-dot {
    height: 60px;
    width: 60px;
    left: calc(100% / 2 - 30px);
    margin-top: calc(100% / 1.5 - 30px);
  }
}

// color
.text_point01 {
  color: $color01 !important;
}
.text_point02 {
  margin-left: 10px;
  color: $color02 !important;
}
.text_point03 {
  color: $color03 !important;
}

.pe_0 .v-field.v-field--appended {
  padding: 0 !important;
}

// mixin
@mixin popRadioGroup($mt, $textW, $barLeft) {
  .v-selection-control-group > div {
    position: relative;
    margin-top: 16px;
    &:first-child {
      margin-top: $mt;
    }
  }
  label {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    > span:not(.v-ripple__container) {
      display: inline-block;
      width: $textW;
      margin-top: -2px;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: calc(50% - 10px);
      left: $barLeft;
      width: 2px;
      height: 20px;
      background-color: #fff;
      opacity: 0.2;
    }
    > strong {
      margin-top: -2px;
      margin-left: 20px;
      font-size: 18px;
      color: #9bc5dd;
    }
  }

  .v-selection-control {
    height: 60px;
    background: $bgColor02;
    border-radius: 6px;
    &.v-selection-control--dirty {
      border: 2px solid #7868e5;
      & + label strong {
        color: $color01;
      }
      & + label strong.on {
        color: $color02;
        font-style: italic;
      }
      .v-selection-control__input {
        padding-right: 14px;
      }
    }

    .v-icon {
      width: 36px;
      height: 36px;
      &::before {
        content: '';
      }
    }
    .mdi-radiobox-blank {
      background: url(/img/bg_radio.png) no-repeat 0 0/36px;
    }
    .mdi-radiobox-marked {
      background: url(/img/bg_radio_on.png) no-repeat 0 0/36px;
    }

    &.now .v-icon {
      background: url(/img/bg_radio_now.png) no-repeat 0 0/36px !important;
    }
  }
  .v-selection-control__wrapper,
  .v-selection-control__input {
    width: 100%;
    height: 100%;
  }
  .v-selection-control__input {
    justify-content: flex-end;
    padding-right: 16px;
    border-radius: 0;
  }
  .v-selection-control__input:hover::before {
    opacity: 0;
  }
}

@mixin roomStatusBox($deg, $endColor, $borderColor) {
  background: transparent linear-gradient($deg, #1e242b00 30%, $endColor 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 10px #0000008a;
  border: 2px solid $borderColor;
  border-radius: 6px;
}

// extend
.extend_btn_yellow_green_gd {
  background: transparent linear-gradient(0deg, #378709 0%, $color03 100%) 0% 0%
    no-repeat padding-box;
  box-shadow:
    inset 0px 2px 0px #ffffff80,
    0px 5px 10px #00000070;
  border: 1px solid #000000;

  .v-btn__content {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
}

.extend_btn_default_gd {
  min-width: inherit;
  background: transparent linear-gradient(0deg, $bgColor01 0%, $bgColor03 100%)
    0% 0% no-repeat padding-box;
  box-shadow:
    inset 0px 1px 0px #ffffff24,
    0px 5px 10px #00000070;
  border: 1px solid #000000;
}

.extend_login_field {
  .v-field__prepend-inner > .v-icon,
  .v-field__append-inner > .v-icon,
  .v-field__clearable > .v-icon,
  .v-text-field__prefix {
    opacity: 1;
    color: #fff;
  }

  // .v-text-field__prefix {
  //   margin-left: -20px;
  // }

  .v-field__outline {
    --v-field-border-width: 0;
  }

  .v-field--variant-outlined.v-field--focused .v-field__outline {
    --v-field-border-width: 0;
    border: 2px solid #4d5965;
  }

  .v-text-field--prefixed.v-text-field .v-field__input {
    --v-field-padding-start: 20px;
  }

  .v-text-field input {
    color: $color01;
  }

  .v-field__prepend-inner > .v-icon.mdi-account:before,
  .v-field__prepend-inner > .v-icon.mdi-lock:before {
    content: '';
  }

  .v-field__prepend-inner > .v-icon.mdi-account {
    background: url(/img/ico_user.png) no-repeat 50% 50%/16px;
  }

  .v-field__prepend-inner > .v-icon.mdi-lock {
    background: url(/img/ico_pwd.png) no-repeat 50% 50%/16px;
  }
}

.extend_text_field_basic {
  .v-field {
    background: $bgColor02;
    border-radius: 6px;
  }
  .v-input--density-default,
  .v-input--density-default .v-field--variant-filled {
    --v-input-control-height: 36px;
    --v-field-padding-start: 14px;
    --v-field-padding-end: 14px;
    --v-input-padding-top: 4px;
    --v-field-padding-bottom: 8px;
  }
  .v-field__input {
    min-height: inherit;
    max-height: 36px;
    input {
      margin-top: 0;
    }
  }
  .v-field__overlay,
  .v-field__outline {
    display: none;
  }
}

.extend_room_option_list {
  > ul {
    display: flex;
    align-items: center;
  }
  li {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    &:first-child {
      margin: 0;
    }
  }
  .ico_account {
    background: url(/img/ico_account.png) no-repeat 50% 50%/32px;
    &.on {
      background: url(/img/ico_account_on.png) no-repeat 50% 50%/32px;
    }
  }
  .ico_door {
    background: url(/img/ico_door.png) no-repeat 50% 50%/32px;
    &.on {
      background: url(/img/ico_door_on.png) no-repeat 50% 50%/32px;
    }
  }
  .ico_connect {
    background: url(/img/ico_connect.png) no-repeat 50% 50%/32px;
    &.on {
      background: url(/img/ico_connect_on.png) no-repeat 50% 50%/32px;
    }
  }
  .ico_wifi {
    background: url(/img/ico_wifi.png) no-repeat 50% 50%/32px;
    &.on {
      background: url(/img/ico_wifi_on.png) no-repeat 50% 50%/32px;
    }
  }
  .temp_status {
    width: 52px;
    height: 50px;
    margin-left: 36px;
    .v-progress-circular__underlay {
      color: #646b79;
    }
    .v-progress-circular__overlay {
      color: $color03;
    }
  }
}

.extend_bg_minus_plus {
  .mdi-minus {
    background: url(/img/ico_minus.png) no-repeat 50% 50%/12px;
    &::before {
      display: none;
    }
  }
  .mdi-plus {
    background: url(/img/ico_plus.png) no-repeat 50% 50%/12px;
    &::before {
      display: none;
    }
  }
}

.extend_slider_thumb {
  .v-slider-thumb__surface {
    width: 24px;
    height: 24px;
    background: url(/img/ico_point_slide.png) no-repeat 50% 50%/21px;
    box-shadow: none !important;
    border-radius: 0;
    &::before {
      display: none;
    }
  }
}

// btn
.btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  .v-btn.btn_basic {
    width: 200px;
    height: 50px;
    background: $bgColor02 0% 0% no-repeat padding-box;
    border: 2px solid #4d5965;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    + button {
      margin-left: 22px;
    }
  }
}

// switch_basic
.v-switch.switch_basic {
  --v-input-control-height: inherit;
  max-width: 92px;
  .v-selection-control--density-default {
    --v-selection-control-size: 100%;
  }
  .v-switch__track {
    display: flex;
    align-items: center;
    min-width: 92px;
    height: 28px;
    padding: 0 12px;
    background: $bgColor01;
    box-shadow:
      inset 0px 1px 3px #0000005c,
      0px 1px 0px #000000;
    border-radius: 14px;
    opacity: 1;

    &::before {
      display: block;
      content: 'OFF';
      font-size: 14px;
      color: #364352;
    }
  }
  .v-selection-control__input {
    width: 42px;
    transform: translateX(24px);
  }
  .v-switch__thumb {
    width: 42px;
    height: 28px;
    background: transparent linear-gradient(180deg, #10eb4e 0%, #10eb4e 100%) 0%
      0% no-repeat padding-box;
    box-shadow:
      inset 0px 1px 0px #ffffff57,
      0px 6px 10px #000000a6;
    border-radius: 14px;

    &::before {
      display: block;
      content: 'ON';
      font-size: 14px;
      color: #fff;
    }
  }

  // ON
  .v-selection-control--dirty {
    .v-switch__track {
      justify-content: flex-end;
      &::before {
        content: 'ON';
      }
    }
    .v-selection-control__input {
      transform: translateX(-24px);
    }

    .v-switch__thumb {
      background: transparent linear-gradient(180deg, #fc5c09 0%, #fc5c09 100%)
        0% 0% no-repeat padding-box;

      &::before {
        content: 'OFF';
        color: #fff;
      }
    }
  }

  .v-ripple__animation {
    background: #fff;
  }
}

// field_round_type
.v-input.field_round_type {
  max-height: 36px;
  .v-field {
    background: none;
    box-shadow: none;
  }
  .v-field__field {
    overflow: hidden;
    width: 100px;
    max-height: 36px;
    min-height: 36px;
    padding: 0 10px;
    background: $bgColor01 0% 0% no-repeat padding-box;
    box-shadow:
      inset 0px 1px 3px #0000005c,
      0px 1px 0px #ffffff17;
    border-radius: 20px;
    margin: 0;
  }
  .v-field__input {
    min-height: 36px;
    padding: 0;
    margin: 0;
    input {
      margin: 0;
    }
  }

  .v-text-field__suffix {
    opacity: 1;
    max-height: 36px;
    min-height: 36px;
    padding: 0 0 0 8px;
    color: $color05;
  }
  &.text-center input {
    text-align: center;
  }
  &.text-right input {
    text-align: right;
  }
  &.w140 .v-field__field {
    width: 140px !important;
  }
  &.w80 {
    width: 80px !important;
  }
  &.box {
    .v-field__field {
      border-radius: 2px;
    }
  }
}

.v-input.pt2 {
  .v-field__input {
    margin-top: 2px !important;
  }
}
.v-input.pt3 {
  .v-field__input {
    margin-top: 3px !important;
  }
}
.v-input.pt5 {
  .v-field__input {
    margin-top: 5px !important;
  }
}

.v-input .v-field__clearable {
  font-size: 12px;
}

// v-date-picker

.pop_date_picker {
  .v-overlay__scrim {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  .btn_group {
    margin-top: 60px;
  }
}
.v-picker.v-date-picker {
  margin: 0 34px;
  background: #7868e5;
  .v-picker-title,
  .v-picker__header {
    display: none;
  }
  .v-date-picker-controls {
    justify-content: center;
    position: relative;
    height: 50px;
    > .flex-grow-1 {
      display: none;
      + div > .v-btn--variant-text {
        position: absolute;
        top: 0;
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
        }
      }
    }
  }
  .v-date-picker-controls__date {
    font-size: 18px;
    + .v-btn--variant-text {
      overflow: hidden;
      position: absolute;
      left: calc(50% - 100px);
      width: 200px;
      border-radius: 0;
      text-indent: -9999px;
      .v-btn__content {
        display: inline;
      }
    }
  }
  .v-date-picker-month {
    position: relative;
  }
  .v-date-picker-month__days {
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $bgColor03;
      width: 100%;
      height: 48px;
    }
    .v-btn {
      font-size: 18px;
    }
  }

  .v-btn--active {
    > .v-btn__overlay {
      background: #fc6060;
      opacity: 1;
    }
    .v-btn__content {
      position: relative;
      color: #fff !important;
    }
  }

  .v-date-picker-month__weekday:nth-child(1),
  .v-date-picker-month__day--week-start .v-btn__content {
    color: #aee52a;
  }

  .v-date-picker-month__weekday:nth-child(7),
  .v-date-picker-month__day--week-end .v-btn__content {
    color: #ffde15;
  }

  .v-btn--variant-outlined {
    border: none;
    &::before {
      display: block;
      content: '';
      position: absolute;
      bottom: 2px;
      left: calc(50% - 2px);
      width: 8px;
      height: 8px;
      background: #fc6060;
      border-radius: 50%;
    }
  }
  .v-date-picker-month__day--adjacent {
    .v-btn__content {
      color: #ada5f0;
    }
  }
}

// required
.text_required {
  font-size: 18px !important;
  color: $color01 !important;
  font-weight: 400 !important;
  .bul_required {
    color: #fc5c09 !important;
  }
}

// -- common
.notfound {
  padding-top: 88px;

  // idle 큐브
  .area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .cube {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    font-size: 2em;
    // transform-style: preserve-3d;
    // animation: spin 40s infinite linear;
  }

  .msg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    color: #82d751;
  }
}

// -- Idle, Login

.idle {
  padding-top: 88px;

  // idle 큐브
  .cube-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto 105px;
    width: 500px;
    height: 500px;
    perspective: 500px;
  }

  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotateX(0) rotateY(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(720deg);
    }
  }

  .cube > div {
    position: absolute;
    width: 260px;
    height: 260px;
    line-height: 260px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #222;
    background: #1e242b;
  }

  //translateZ(100px) -> 기준점이 center라 이동은 1/2값
  .cube .box1 {
    transform: rotateY(90deg) translateZ(130px);
    background: #1e242b url(/img/bg_cube_left.png) no-repeat 50% 50%/90px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #3770bb, #5b86f1, #804fa5);
    border-image-slice: 1;
  }

  .cube .box2 {
    transform: rotateY(-90deg) translateZ(130px);
    background: #1e242b url(/img/bg_cube_left.png) no-repeat 50% 50%/90px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #3770bb, #5b86f1, #804fa5);
    border-image-slice: 1;
  }
  .cube .box3 {
    transform: rotateY(180deg) translateZ(130px);
    background: #1e242b url(/img/bg_cube_top.png) no-repeat 50% 50%/100px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #3770bb, #5b86f1, #804fa5);
    border-image-slice: 1;
  }
  .cube .box4 {
    transform: rotateY(180deg) translateZ(-130px);
    background: #1e242b url(/img/bg_cube_top.png) no-repeat 50% 50%/100px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #3770bb, #5b86f1, #804fa5);
    border-image-slice: 1;
  }
  .cube .box5 {
    transform: rotateX(-90deg) translateZ(130px);
    background: #1e242b url(/img/bg_cube_right.png) no-repeat 50% 50%/90px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #804fa5, #5b86f1, #3770bb);
    border-image-slice: 1;
  }
  .cube .box6 {
    transform: rotateX(-90deg) translateZ(-130px);
    background: #1e242b url(/img/bg_cube_right.png) no-repeat 50% 50%/90px;
    border: 2px solid #14161c;
    border-image: linear-gradient(to right, #804fa5, #5b86f1, #3770bb);
    border-image-slice: 1;
  }
}

.login {
  height: 100%;
  background: $bgColor01;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 515px;
    position: absolute;
    top: 40px;
    background: radial-gradient(
      ellipse at center,
      rgba(76, 30, 123, 1) 20%,
      rgba(30, 36, 43, 1) 70%
    );
  }

  .v-col {
    position: relative;
    top: 30px;
    left: 30px;
  }

  div.logo {
    position: relative;
    width: 70px;
    height: 50px;
    background: url(/img/logo_bi.png) no-repeat 0 0/50px;
  }
  div.title {
    position: relative;
    min-width: 150px;
    > h3 {
      position: absolute;
      font-size: 1.5em;
      top: -20px;
      left: 0px;
      font-weight: 700;
      color: #fff;
      animation: logo 20s 3s infinite ease-in-out;
    }
  }

  // h1 {
  //   overflow: hidden;
  //   position: relative;
  //   z-index: 101;
  //   width: 210px;
  //   height: 88px;
  //   padding: 40px 0 0 40px;
  //   background: url(/img/logo_bi.png) no-repeat 40px 40px/50px;
  //   text-indent: -9999px;
  // }

  .img_intro {
    width: 410px;
    margin-top: -4px;
    position: relative;
    left: 19px;
  }

  .form_area {
    position: relative;
    top: -100px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: none;

    .v-card-title {
      padding: 0;
      font-size: 24px !important;
      color: #fff !important;
      font-weight: 700;
      text-align: center;
    }

    .btn_login {
      height: 56px;
      margin-top: 18px;
      border-radius: 8px;

      @extend .extend_btn_yellow_green_gd;
    }
  }

  .field_area {
    margin: 24px -8px 0;
    > .v-input {
      width: 50%;
      height: 48px;
      transition: height 5s;
    }

    .v-input--density-default {
      --v-input-control-height: 44px;
      --v-input-padding-top: 10px;

      .v-field--variant-outlined {
        --v-field-padding-bottom: 10px;
      }
    }

    .v-input__control {
      background: $bgColor02;
      border-radius: 8px;
    }

    .v-input--error {
      height: inherit;
    }

    @extend .extend_login_field;
  }

  address {
    padding: 32px 0 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #616977;
    font-weight: 300;
    font-style: normal;
  }

  // cube animation

  @keyframes flipY {
    0% {
      transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(0deg)
        rotatez(0deg);
    }
    25% {
      transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg)
        rotatez(0deg);
    }
    50% {
      transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(180deg)
        rotatez(0deg);
    }
    75% {
      transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(270deg)
        rotatez(0deg);
    }
    100% {
      transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(360deg)
        rotatez(0deg);
    }
  }
  @keyframes flipY-innerCube {
    0% {
      transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg)
        rotatey(0deg) rotatez(0deg);
    }
    20.25% {
      transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg)
        rotatey(-90deg) rotatez(0deg);
    }
    100% {
      transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotatex(0deg)
        rotatey(-90deg) rotatez(0deg);
    }
  }
  @keyframes flipY-innerShadow {
    0% {
      transform: translatex(-50%) rotatex(-90deg) translatez(-20px)
        rotatez(0deg);
    }
    20.25% {
      transform: translatex(-50%) rotatex(-90deg) translatez(-20px)
        rotatez(-90deg);
    }
    100% {
      transform: translatex(-50%) rotatex(-90deg) translatez(-20px)
        rotatez(-90deg);
    }
  }

  @keyframes flipY-outterShadow {
    0% {
      transform: translatex(-50%) rotatex(-90deg) translatez(275px)
        rotatez(0deg);
    }
    25% {
      transform: translatex(-50%) rotatex(-90deg) translatez(275px)
        rotatez(90deg);
    }
    50% {
      transform: translatex(-50%) rotatex(-90deg) translatez(275px)
        rotatez(180deg);
    }
    75% {
      transform: translatex(-50%) rotatex(-90deg) translatez(275px)
        rotatez(270deg);
    }
    100% {
      transform: translatex(-50%) rotatex(-90deg) translatez(275px)
        rotatez(360deg);
    }
  }

  @keyframes border-front {
    0% {
      border-width: 4px;
    }
    25% {
      border-width: 0;
    }
    50% {
      border-width: 0;
    }
    75% {
      border-width: 0;
    }
    100% {
      border-width: 4px;
    }
  }
  @keyframes border-back {
    0% {
      border-width: 0;
    }
    25% {
      border-width: 0;
    }
    50% {
      border-width: 4px;
    }
    75% {
      border-width: 4px;
    }
    100% {
      border-width: 0;
    }
  }
  @keyframes border-top {
    0% {
      border-width: 6px 6px 1px 1px;
    }
    2.25% {
      border-width: 6px 6px 1px 1px;
    }
    5.75% {
      border-width: 1px 6px 6px 1px;
    }
    100% {
      border-width: 1px 6px 6px 1px;
    }
  }
  @keyframes border-left {
    0% {
      border-width: 0;
    }
    25% {
      border-width: 4px;
    }
    50% {
      border-width: 4px;
    }
    75% {
      border-width: 0;
    }
    100% {
      border-width: 0;
    }
  }
  @keyframes border-right {
    0% {
      border-width: 0;
    }
    25% {
      border-width: 0;
    }
    50% {
      border-width: 0;
    }
    75% {
      border-width: 4px;
    }
    100% {
      border-width: 4px;
    }
  }

  @keyframes hoverY {
    0% {
      transform: translatey(0px);
    }
    100% {
      transform: translatey(-30px);
    }
  }
  @keyframes scaleBigShadow {
    0% {
      transform: scale3d(0.65, 0.65, 0.65);
    }
    100% {
      transform: scale3d(0.6, 0.6, 0.6);
    }
  }
  @keyframes scaleSmallShadow {
    0% {
      transform: scale3d(0.45, 0.45, 0.45);
    }
    100% {
      transform: scale3d(0.37, 0.37, 0.37);
    }
  }

  $animationDuration: 10s;
  $cubeSize: 280px;
  $outerCubeColor: #1e242b;
  $cubeSmallSize: $cubeSize - 60;

  .scene {
    position: relative;
    margin: 110px auto 380px;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    transform: translateX(40px) rotatex(-33.5deg) rotatey(45deg);

    $hoverDuration: 2s;
    .webpack-cube {
      transform-style: preserve-3d;
      animation: hoverY $hoverDuration infinite alternate;
      animation-timing-function: ease-in-out;
    }

    .outer-cube {
      position: absolute;
      width: $cubeSize;
      height: $cubeSize;
      left: 0;
      top: 0;
      transform-style: preserve-3d;
      animation: flipY $animationDuration infinite;
      display: inline-block;

      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;

        &-top {
          background: #1e242b url(/img/bg_cube_top.png) no-repeat 50% 50%/100px;
          transform: rotatex(90deg) translatez(calc($cubeSize/2));
          border: 4px solid #14161c;
          border-image: linear-gradient(to right, #3770bb, #5b86f1, #804fa5);
          border-image-slice: 1;
        }
        &-bottom {
          border: 1px solid $outerCubeColor;
          transform: rotatex(-90deg) translatez(calc($cubeSize/2));
          box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.7);
        }
        &-front {
          background: #1e242b url(/img/bg_cube_right.png) no-repeat 50% 50%/90px;
          transform: translatez(calc($cubeSize/2));
          border-left: 4px solid;
          animation: border-front $animationDuration infinite;
          border-image: linear-gradient(
            to bottom,
            #3770bb,
            #5b86f1,
            #6c468a,
            #6c468a
          );
          border-image-slice: 1;
        }
        &-back {
          background: #1e242b url(/img/bg_cube_right.png) no-repeat 50% 50%/90px;
          transform: rotateY(180deg) translatez(calc($cubeSize/2));
          border-left: 4px solid;
          animation: border-back $animationDuration infinite;
          border-image: linear-gradient(
            to top,
            #3770bb,
            #5b86f1,
            #6c468a,
            #6c468a
          );
          border-image-slice: 1;
        }
        &-left {
          background: #1e242b url(/img/bg_cube_left.png) no-repeat 50% 50%/90px;
          transform: rotateY(-90deg) translatez(calc($cubeSize/2));
          border-left: 4px solid;
          animation: border-left $animationDuration infinite;
          border-image: linear-gradient(
            to bottom,
            #3770bb,
            #5b86f1,
            #6c468a,
            #6c468a
          );
          border-image-slice: 1;
        }
        &-right {
          background: #1e242b url(/img/bg_cube_left.png) no-repeat 50% 50%/90px;
          transform: rotateY(90deg) translatez(calc($cubeSize/2));
          border-left: 4px solid;
          animation: border-right $animationDuration infinite;
          border-image: linear-gradient(
            to top,
            #3770bb,
            #5b86f1,
            #6c468a,
            #6c468a
          );
          border-image-slice: 1;
        }
      }
    }

    .shadows-outer-container {
      display: inline-block;
      transform-style: preserve-3d;
      width: $cubeSize;
      height: $cubeSize;
      transform: translatex(-50%) rotatex(-90deg) translatez(110px);
      animation: flipY-outterShadow $animationDuration infinite;

      .shadow-outer {
        display: inline-block;
        position: absolute;
        width: $cubeSize;
        height: $cubeSize;
        background-color: rgba(0, 0, 0, 0.5);
        animation: scaleBigShadow 2s infinite alternate;
        animation-timing-function: ease-in-out;
        box-shadow: 0px 0px 45px 35px rgba(0, 0, 0, 0.5);
        transform-origin: center center;
        transform: scale3d(0.8, 0.8, 0.8);
      }
    }
  }

  // cube_touch
  &.small_cube {
    .scene,
    .scene * {
      transition: all 1s;
    }

    .scene {
      margin: 80px auto 235px;

      .outer-cube {
        width: $cubeSmallSize;
        height: $cubeSmallSize;

        .face {
          &-top {
            transform: rotatex(90deg) translatez(calc($cubeSmallSize/2));
          }
          &-bottom {
            transform: rotatex(-90deg) translatez(calc($cubeSmallSize/2));
          }
          &-front {
            transform: translatez(calc($cubeSmallSize/2));
          }
          &-back {
            transform: rotateY(180deg) translatez(calc($cubeSmallSize/2));
          }
          &-left {
            transform: rotateY(-90deg) translatez(calc($cubeSmallSize/2));
          }
          &-right {
            transform: rotateY(90deg) translatez(calc($cubeSmallSize/2));
          }
        }
      }

      .shadows-outer-container {
        width: $cubeSmallSize;
        height: $cubeSmallSize;
        margin-top: -80px;

        .shadow-outer {
          width: $cubeSmallSize;
          height: $cubeSmallSize;
        }
      }
    }

    .form_area {
      transition: all 1s ease-in-out;
      top: 0;
      height: inherit;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Idle, Login --
.logout span {
  padding-left: 32px;
  margin-right: 0;
  background: url(/img/logout-icon.png) no-repeat 0 0/24px;
}

/*------------------------
  spinning icons
-------------------------*/

@keyframes logo {
  0% {
    font-size: 1.5em;
    top: -20px;
    left: 0px;
    transform: rotate(0deg);
  }
  45% {
    font-size: 1.5em;
    top: -20px;
    left: 0px;
  }
  50% {
    top: -40px;
    left: -60px;
    font-size: 3em;
  }
  55% {
    font-size: 1.5em;
    top: -20px;
    left: 0px;
  }
  100% {
    font-size: 1.5em;
    top: -20px;
    left: 0px;
  }
}

@keyframes internet {
  0% {
    background: url(/img/ico_wifi_on.png) no-repeat 0 0/24px;
  }
  30% {
    background: url(/img/ico_wifi_on.png) no-repeat 0 0/24px;
  }
  50% {
    background: url(/img/ico_wifi_disable.png) no-repeat 0 0/24px;
  }
  70% {
    background: url(/img/ico_wifi_on.png) no-repeat 0 0/24px;
  }
  100% {
    background: url(/img/ico_wifi_on.png) no-repeat 0 0/24px;
  }
}

// -- Main

.main {
  height: 100%;
  padding-left: 122px;

  // Layout

  .db_header.v-toolbar {
    padding: 0 40px;
    border-bottom: 2px solid #313945;
    div.logo {
      width: 70px;
      height: 50px;
      background: url(/img/logo_bi.png) no-repeat 0 0/50px;
    }
    div.title {
      position: relative;
      min-width: 150px;
      > h3 {
        position: absolute;
        font-size: 1.5em;
        top: -20px;
        left: 0px;
        font-weight: 700;
        color: #fff;
        animation: logo 20s 3s infinite ease-in-out;
      }
    }
    .top_sign > span {
      position: relative;
      padding-left: 32px;
      margin-right: 0;
      &.on {
        animation: internet 3s 0.5s infinite ease-in;
      }
      &.off {
        background: url(/img/ico_wifi_off.png) no-repeat 0 0/24px;
      }
    }
    // .top_sign > span {
    //   margin-right: 18px;
    //   padding-left: 32px;
    //   background: url(/img/ico_playing.png) no-repeat 0 0/24px;
    //   + span {
    //     margin-right: 0;
    //     background: url(/img/ico_net.png) no-repeat 0 0/24px;
    //   }
    // }

    .top_info {
      font-size: 24px;
      font-weight: 700;
      .v-btn {
        display: inline-block;
        margin-left: 30px;
        padding: 0 42px 0 0;
        background: url(/img/ico_top_arrow.png) no-repeat 100% 50%/36px;
        font-size: 16px;
        font-weight: 400;
        color: $color05;
        &:hover > .v-btn__overlay {
          opacity: 0;
        }
      }
    }
    .top_set > .v-btn {
      margin-left: 16px;
      background: transparent
        linear-gradient(160deg, $bgColor03 0%, $bgColor01 100%) 0% 0% no-repeat
        padding-box;
      box-shadow: 0px 3px 4px #00000070;
      border: 1px solid $bgColor02;
      border-radius: 18px;

      .v-btn__content {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
      }
    }
  }

  .db_nav {
    left: 0px;
    z-index: 1000;
    position: fixed;
    height: calc((100% - 80px) - 0px);
    top: 80px;
    bottom: 0px;
    width: 122px;
    border-right: 2px solid #14161c;

    > .v-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-top: -20px;
      .v-list-item {
        overflow: hidden;
        width: 100%;
        margin: 20px 0;
        padding: 0;
        background: url(/img/bg_step01.png) no-repeat 50% 50%/46px;
        text-indent: -9999px;
        &:nth-child(2) {
          background-image: url(/img/bg_step02.png);
        }
        &:nth-child(3) {
          background-image: url(/img/bg_step03.png);
        }
        &:nth-child(1).on {
          background-image: url(/img/bg_step01_on.png);
        }
        &.on:nth-child(2).on {
          background-image: url(/img/bg_step02_on.png);
        }
        &.on:nth-child(3).on {
          background-image: url(/img/bg_step03_on.png);
        }
        .v-list-item__overlay {
          display: none;
        }
      }
      span.text_blue {
        color: #4a84e9;
        font-size: 0.9em;
        margin-bottom: -13px;
      }
    }
  }

  // container

  // ContentStep01
  .content_step_01 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 38px 40px;

    .left {
      flex: 1;
    }

    .right {
      overflow-y: auto;
      position: relative;
      width: 330px;
      height: calc(100vh - 160px);
    }

    // left
    .room_select {
      display: flex;
      flex-direction: column;
      align-items: center;

      .check_group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 540px;
        height: 60px;
        background: $bgColor03 0% 0% no-repeat padding-box;
        border-radius: 6px;

        .v-checkbox {
          max-width: 84px;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }
        }

        .v-selection-control__wrapper {
          --v-selection-control-size: 36px;
        }

        .v-selection-control__input::before {
          display: none;
        }

        .v-icon {
          width: 100%;
          height: 100%;
          &::before {
            display: none;
          }
        }

        .mdi-checkbox-blank-outline {
          background: url(/img/bg_checkbox.png) no-repeat 50% 50%/36px;
        }
        .mdi-checkbox-marked {
          background: url(/img/bg_checkbox_on.png) no-repeat 50% 50%/36px;
        }

        .v-ripple__container {
          display: none;
        }

        .v-label {
          margin-left: 14px;
          font-size: 18px;
          opacity: 1;
          white-space: nowrap;
        }
      }

      .room_select_control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        margin: 0 auto;
      }

      .v-text-field {
        width: 100%;
      }

      .v-field.v-field--appended {
        padding: 0;
        --v-field-padding-end: 56px;
      }

      .v-field__overlay {
        opacity: 0;
      }

      .v-field__input {
        padding-top: 20px;
        padding-bottom: 10px;

        input {
          font-size: 52px;
          color: $color03;
          font-weight: 700;
          text-align: right;
        }
      }

      .v-field__clearable {
        margin: 0;
        opacity: 1;
        .v-icon {
          width: 76px;
          height: 42px;
          margin-top: 20px;
          opacity: 1;
          background: url(/img/bg_num_clear.png) no-repeat 0 50%/76px;
          &::before {
            width: 100%;
            height: 100%;
            content: '';
            background: url(/img/ico_num_clear.png) no-repeat 30px 50%/26px;
          }
        }
      }

      .v-field--variant-filled .v-field__outline::before {
        border-bottom-width: 2px;
        border-bottom-color: $bgColor02;
        opacity: 1;
      }

      .v-field--variant-filled .v-field__outline::after {
        border-bottom-color: $bgColor02;
      }

      .btn_next {
        width: 366px;
        height: 56px;
        border-radius: 8px;
        min-width: inherit;
        margin-top: 40px;

        @extend .extend_btn_yellow_green_gd;
      }
    }

    .room_select_num {
      margin-top: 28px;
      .v-row {
        margin: -5px -17px;
      }
      .v-col {
        padding: 5px 17px;
      }
      .v-btn {
        width: 100px;
        height: 70px;

        @extend .extend_btn_default_gd;

        border-radius: 18px;
        font-size: 38px;
        &.v-btn--active {
          @extend .extend_btn_yellow_green_gd;
          .v-btn__content {
            font-size: 38px;
            font-weight: 500;
          }
        }
      }
      .v-col:nth-child(10) .v-btn,
      .v-col:nth-child(12) .v-btn {
        font-size: 24px;
        .v-btn__content {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    //right
    .room_select_status_box {
      position: absolute;
      right: 10px;
      padding: 18px 28px 0 24px;
      height: 180px;
      font-size: small;

      @include roomStatusBox(151deg, $roomColor01, $roomColor01);

      &:nth-child(2) {
        overflow: visible;
        top: 186px;

        @include roomStatusBox(158deg, $roomColor02, $roomColor02);

        &::before {
          display: block;
          content: '';
          width: 32px;
          height: 186px;
          position: absolute;
          top: -12px;
          left: -42px;
          background: $color03;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &::after {
          display: block;
          content: '선택됨';
          width: 330px;
          height: 186px;
          position: absolute;
          top: -12px;
          left: -42px;
          padding: 14px 0px 0 2px;
          background: url(/img/ico_arrow_selected.png) no-repeat 9px
            calc(100% - 14px) / 14px;
          border: 2px solid $color03;
          border-radius: 8px;
          color: #000;
          font-weight: 700;
          letter-spacing: 4px;
          writing-mode: vertical-lr;
        }
        .room_select_info dl + div {
          background: #897be8;
          dl > dt:first {
            font-size: 0.7em;
          }
        }
      }

      &:nth-child(3) {
        top: 372px;
        z-index: 3;
      }
      &:nth-child(4) {
        top: 412px;
        z-index: 2;
      }
      &:nth-child(5) {
        top: 452px;
        z-index: 1;
      }

      &.disabled {
        background: $bgColor03 0% 0% no-repeat padding-box;
        border: 2px solid #36424f;
        .ico_account {
          background: url(/img/ico_account_disable.png) no-repeat 50% 50%/32px !important;
        }
        .ico_door {
          background: url(/img/ico_door_disable.png) no-repeat 50% 50%/32px !important;
        }
        .ico_connect {
          background: url(/img/ico_connect_disable.png) no-repeat 50% 50%/32px !important;
        }
        .ico_wifi {
          background: url(/img/ico_wifi_disable.png) no-repeat 50% 50%/32px !important;
        }
        .temp_status {
          .v-progress-circular__overlay {
            color: #94989e !important;
          }
        }

        .room_select_info {
          dl {
            dt {
              color: $color05;
            }

            + div {
              background: $bgColor02;
              color: $color05;
            }
          }
        }
      }

      &.sale {
        @include roomStatusBox(151deg, $roomColor04, $roomColor04);

        .room_select_info {
          dl {
            + div {
              background: $bgColor01;
              color: $color03;
            }
          }
        }
      }

      @extend .extend_room_option_list;

      .room_select_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        dl {
          dt {
            font-size: 28px;
            color: #fff;
            font-weight: 700;
          }

          dd {
            color: $color05;
          }

          + div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 52px;
            background: #7095f2;
            border-radius: 6px;
            font-size: 28px;
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
    .rooms {
      height: 180px;
    }
  }

  // ContentStep02
  .content_step_02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center; 해상도 높이 801 이상 가운데 정렬 설정
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
    padding: 24px;

    .left {
      flex: 1;
    }

    .right {
      width: 808px;
      margin-left: 22px;
    }
    .bottom {
      position: relative;
      width: 100%;
      max-width: 1158px;
      margin-top: 20px;
    }

    //left
    h2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 28px;
      padding-left: 40px;
      background: url(/img/bg_bul_title.png) no-repeat 0 0/28px;
      font-size: 18px;
    }
    .room_select_now_box {
      margin: 16px 0 34px;
      padding: 18px 15px 0 15px;
      background: $bgColor01 0% 0% no-repeat padding-box;
      border: 2px solid #36424f;
      border-radius: 6px;
      max-width: 240px;
      white-space: nowrap;

      &.type00 {
        @include roomStatusBox(158deg, #e6c18d, #e6c18d);
        .v-field {
          background: #e6c18d;
        }
      }
      &.type01 {
        @include roomStatusBox(158deg, #7095f2, #7095f2);
        .v-field {
          background: #7095f2;
        }
      }
      &.type02 {
        @include roomStatusBox(158deg, #897be8, #897be8);
        .v-field {
          background: #897be8;
        }
      }
      &.type03 {
        @include roomStatusBox(158deg, #ab56e8, #ab56e8);
        .v-field {
          background: #ab56e8;
        }
      }

      dl {
        display: flex;
        margin-left: 4px;
        dt {
          color: $color05;
          margin-top: 3px;
        }
        dd {
          margin-left: 4px;
          color: $color05;

          &.sale0 {
            font-size: 1.2em;
            color: #f0f05f;
          }
          &.sale1 {
            font-size: 1.2em;
            color: #ec9477;
          }
          &.sale2 {
            font-size: 1.2em;
            color: #76ef72;
          }
          &.sale3 {
            font-size: 1.2em;
            color: #f2ea60;
          }
        }
        + div {
          margin-left: 4px;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 3px 3px #5e6377;
        }
      }

      @extend .extend_text_field_basic;

      @extend .extend_room_option_list;

      > ul {
        margin: 10px 0 12px 4px;
      }
      .temp_status {
        width: 58px;
        height: 56px;
        margin-left: 14px;
      }
    }

    .room_type_select {
      margin-top: 20px;

      .v-card {
        margin-top: 16px;
        background: transparent;
        box-shadow: none;
        border: 2px solid $bgColor02;
        border-radius: 6px;
        &:first-child {
          margin: 0;
        }
        &.selected {
          box-shadow:
            inset 0px 4px 0px #ffffff42,
            0px 10px 10px #000000a3;
          border: 1px solid #000000;
          .v-card-text {
            span {
              background: $color03;
              font-weight: 700;
            }
            strong {
              color: #fff;
            }
          }
        }
        &:nth-child(1).selected {
          background: $roomColor01;
        }
        &:nth-child(2).selected {
          background: $roomColor02;
        }
        &:nth-child(3).selected {
          background: $roomColor03;
        }
      }
      .v-card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 36px;
        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 32px;
          background: $bgColor02;
          border-radius: 16px;
          font-size: 16px;
          color: #000;
        }
        strong {
          font-size: 24px;
          color: $color05;
        }
      }
    }

    //right
    .set_date_box {
      padding: 16px 22px 0;
      border-radius: 6px;
      min-width: 100%;
      max-height: 242px;

      .btn-toggle-line {
        overflow: visible;
        height: 40px;
        .v-btn {
          height: 40px !important;
          font-size: 16px;
          color: $color05;
          font-weight: 400;

          @extend .extend_btn_default_gd;

          &:first-child {
            border-radius: 6px 0px 0px 6px;
          }
          &:last-child {
            border-radius: 0px 6px 6px 0px;
          }

          &.v-btn--active {
            @extend .extend_btn_yellow_green_gd;

            .v-btn__content {
              font-size: inherit;
            }
          }
        }
      }

      .time_field {
        margin-bottom: 8px;
        p,
        .date_point {
          color: $color05;
          span {
            color: #fff;
          }
        }
        .v-divider {
          align-self: center;
          height: 16px;
          margin: 1px 16px 0;
        }
        .date_point {
          &::before {
            display: inline-block;
            content: '';
            width: 12px;
            height: 12px;
            margin-right: 16px;
            background: #fc7e09;
            border-radius: 50%;
          }
        }

        .v-input.field_round_type {
          .v-field__field {
            width: 120px;
            border-radius: 6px;
          }
          input {
            text-align: right;
          }
        }

        .v-btn {
          font-size: 16px;
          font-weight: 400;

          @extend .extend_btn_default_gd;

          border-radius: 6px;
        }
      }

      .time_set {
        @extend .extend_bg_minus_plus;

        .time_slide {
          height: 60px;
          background: $bgColor01;
          box-shadow:
            inset 0px 2px 3px #0000005c,
            0px 1px 0px #000000;
          border-radius: 6px;
          .v-btn {
            width: 44px;
            min-width: inherit;
            height: 30px;

            @extend .extend_btn_default_gd;

            border-radius: 6px;
          }
          .v-slider {
            position: relative;
            align-items: self-start;
            margin-left: 24px;
            background: url(/img/bg_time_slider.png) no-repeat 0 28px/690px 10px;
            &.point {
              &::after {
                // display: block;
                // content: '';
                // position: absolute;
                // top: 36px;
                // left: 133px;
                // width: 10px;
                // height: 10px;
                // background: #fc7e09;
                // border-radius: 50%;
              }
            }
          }
          .v-slider-track {
            border-radius: 0;
          }
          .v-slider-track__background {
            height: 12px;
            background: $bgColor02;
          }
          .v-slider-track__fill {
            height: 12px;
            background: transparent
              linear-gradient(90deg, #aee52a 0%, #fc5c09 100%, #2680eb 100%) 0%
              0% no-repeat padding-box;
          }
          // .v-slider-thumb::after {
          //   display: block;
          //   content: '';
          //   position: absolute;
          //   top: 30px;
          //   left: -12px;
          //   width: 49px;
          //   height: 16px;
          //   background: $bgColor01 url(/img/bg_slider_now.png) no-repeat 0 0/49px;
          // }

          .date_day {
            position: absolute;
            right: calc(50% - 90px);
          }

          .date_time {
            position: absolute;
            margin-top: 22px;
            margin-left: 120px;
            font-size: 14px;
            color: $color01;
          }

          + .time_slide {
            margin-top: 8px;
            .date_time {
              color: $color02;
            }
          }

          @extend .extend_slider_thumb;
        }

        .date_slide {
          position: relative;
          height: 36px;
          margin-top: 16px;
          background: $bgColor01;
          box-shadow:
            inset 0px 10px 10px #00000042,
            0px 5px 10px #00000070;
          border-radius: 6px;
          .date_box {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 36px;
            box-shadow:
              inset 0px 3px 0px #ffffff24,
              0px 5px 10px #00000070;
            border-radius: 6px;
            user-select: none;
            &::before,
            &::after {
              display: block;
              content: '';
              position: absolute;
              width: 24px;
              height: 36px;
              cursor: pointer;
            }
            &::after {
              right: 6px;
              transform: rotate(180deg);
            }

            &::before {
              left: 6px;
            }
          }
        }
      }

      &.type01 {
        .btn-toggle-line {
          margin-bottom: 12px;
          width: 100%;
          .v-btn {
            width: 20% !important;
          }
        }
        .time_set {
          margin: 0 -12px;
          > div {
            flex: 1;
            margin: 0 12px;
          }
        }
        .time_slide {
          justify-content: space-between;
          background: $bgColor01 url(/img/bg_time_slider_half.png) no-repeat 50%
            38px/309px 10px;

          .minus,
          .plus {
            font-size: 30px;
            color: #fff;
            &.on {
              background-color: #fff !important;
              color: #e36666;
            }
          }
        }
        .time_box {
          position: relative;
          width: 76px;
          height: 52px;
          padding: 8px 12px;
          background: $roomColor01 url(/img/bg_time_slider_on.png) no-repeat 4px
            40px/67px 6px;
          box-shadow:
            inset 4px 8px 4px #07216170,
            0px 2px 6px #000000a6;
          border-radius: 16px;
          font-size: 18px;
          color: $color01;
          font-weight: 700;
          user-select: none;
          &::before {
            display: block;
            content: '';
            position: absolute;
            left: calc(50% - 2px);
            top: 36px;
            width: 4px;
            height: 12px;
            background: $color01;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
          }
        }
        .date_slide {
          .date_box {
            left: calc(50% - 100px);
            width: 200px;
            background: $roomColor01;
            &::before,
            &::after {
              background: url(/img/ico_arrow_type01.png) no-repeat 50% 50%/24px;
            }
          }
        }
      }

      &.type02 {
        .btn-toggle-line {
          margin-bottom: 12px;
          width: 100%;
          .v-btn {
            width: 16.66% !important;
          }
        }
        .time_slide {
          padding: 4px 18px;
          height: 50px;
          .time_label {
            text-align: center;
            > div {
              margin-top: -1px;
              font-size: 12px;
              color: $color05;
              font-weight: 300;
            }
          }
        }
        .date_slide {
          margin-top: 12px;
          .date_box {
            left: calc(50% - 200px);
            width: 400px;
            background: $roomColor02;
            &::before,
            &::after {
              background: url(/img/ico_arrow_type02.png) no-repeat 50% 50%/24px;
            }
          }
        }
      }

      &.type03 {
        .btn-toggle-line {
          .v-btn {
            width: 140px !important;
          }
          + .label_field {
            .v-field__field {
              max-height: 40px;
              min-height: 40px;
            }
            .v-field__input {
              min-height: 40px;
            }
            input {
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
      }

      .date_field {
        margin-top: 30px;

        .v-input.field_round_type {
          max-height: 50px;
          .v-field__field {
            width: 200px;
            max-height: 50px;
            min-height: 50px;
            border-radius: 6px;
          }
          .v-field__input {
            min-height: 50px;
          }
          input {
            text-align: center;
          }
        }

        .v-btn {
          width: 100px;
          height: 50px;
          margin-left: 16px;
          font-size: 16px;
          font-weight: 400;

          @extend .extend_btn_default_gd;

          border-radius: 6px;

          &.v-btn--icon {
            width: 50px;
          }
          .mdi-calendar {
            background: url(/img/ico_calendar.png) no-repeat 50% 50%/34px;
            &::before {
              display: none;
            }
          }
        }
      }

      .v-divider {
        margin: 20px 0;
        border-width: 1px;
        + .date_field {
          margin: 0;
        }
      }
    }

    .room_setting_box {
      margin-top: 20px;
      .setting_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .car_field {
        display: flex;
        align-items: center;
        height: 36px;
        margin-bottom: 8px;
        > span {
          margin-right: 16px;
          font-size: 18px;
          color: $color01;
        }
        input {
          min-width: 130px;
          text-align: center;
        }

        .v-input {
          &.addTopMg {
            // margin-top: 22px;
            position: relative;
            width: 220px;
            .v-input__details {
              position: absolute;
              top: -6px;
            }
          }
        }

        .v-input + .v-input {
          margin-left: 12px;
        }

        @extend .extend_text_field_basic;

        .v-btn {
          width: 46px;
          height: 36px;
          margin-left: 16px;

          @extend .extend_btn_default_gd;

          border-radius: 6px;
        }
        .mdi-plus {
          background: url(/img/ico_add.png) no-repeat 50% 50%/26px;
          &::before {
            display: none;
          }
        }
      }

      .setting_list {
        li {
          display: flex;
          align-items: center;
          height: 48px;
          margin-top: 10px;
          padding: 6px 0 6px 20px;
          background: $bgColor03;
          border-radius: 6px;
          white-space: nowrap;
          > span {
            margin-right: 14px;
          }
          &.mileage_box {
            .v-field.v-field--appended {
              padding: 0;
            }
          }
          &.pay_box {
            .v-field.v-field--appended {
              padding: 0;
            }
          }
        }

        .person_num {
          margin-right: 8px;
          overflow: visible;
          height: 36px;
          .v-btn {
            width: 50px;
            height: 36px;

            @extend .extend_btn_default_gd;

            border-radius: 18px;

            font-size: 18px;
            + .v-btn {
              margin-left: 8px;
            }
            &.v-btn--active {
              @extend .extend_btn_yellow_green_gd;
            }
          }
          + .label_field {
            margin-left: 12px;
          }
        }
        .fee_field {
          position: relative;
          width: 170px;
          margin-right: 12px;

          &.long {
            width: 250px !important;
          }

          .v-btn {
            position: absolute;
            z-index: 10;
            top: 0;
            width: 36px;
            height: 36px;

            padding: 0;

            @extend .extend_btn_default_gd;

            border-radius: 18px;
          }

          .v-field__field {
            width: 100%;
            padding: 0 44px;
          }

          // .v-field__prepend-inner .v-btn {
          //   left: -20px;
          // }
          .btn_fee_plus {
            right: 0;
          }

          .v-field__clearable > .v-icon {
            position: absolute;
            right: 25px;
          }

          @extend .extend_bg_minus_plus;
        }
        .phone_field {
          max-width: 160px;
          .v-field__field {
            width: 130px;
          }
        }

        .fee_btn {
          margin-right: 16px;
          .v-btn {
            width: 46px;
            height: 36px;
            padding: 0;

            @extend .extend_btn_default_gd;

            border-radius: 18px;

            font-size: 13px;
            font-weight: 400;

            + .v-btn {
              margin-left: 8px;
            }
            &.on .v-btn__content {
              color: $color01;
            }
          }
        }

        .mileage_btn {
          margin-right: 10px;
          .v-btn {
            width: 52px;
            height: 36px;
            padding: 0;

            @extend .extend_btn_default_gd;

            border-radius: 18px;

            font-size: 12px;
            font-weight: 400;

            + .v-btn {
              margin-left: 8px;
            }
            &.on .v-btn__content {
              color: $color01;
            }
            letter-spacing: -1px;
          }
        }

        .v-switch.switch_basic {
          .v-switch__track,
          .v-switch__thumb {
            height: 36px;
            border-radius: 20px;
          }

          .v-switch__track {
            width: 100px;
          }

          .v-switch__thumb {
            min-width: 50px;
          }
        }

        .v-slider {
          width: 200px;
          max-width: 250px;
          height: 36px;
          margin: 0 20px 0 16px;
          background: transparent
            linear-gradient(90deg, #1552e0 0%, #ed6808 100%) 0% 0% no-repeat
            padding-box;
          box-shadow:
            inset 0px 1px 3px #0000005c,
            0px 1px 0px #000000;
          border-radius: 20px;

          .v-input__control {
            height: 36px;
            padding: 0 20px;
          }
          .v-slider-track__background {
            background: #000;
            box-shadow: 0px 1px 0px #ffffff1a;
            opacity: 1;
          }
          .v-slider-track__fill {
            height: 4px;
            background: #fc7e09;
          }

          .v-slider__thumb {
            width: 100%;
          }

          @extend .extend_slider_thumb;

          .v-input__append {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 28px;
            margin-right: 4px;
            margin-left: 0;
            padding-bottom: 5px;
            background: #c41b29;
            border-radius: 14px;
          }
        }

        .temp_btn {
          .v-btn {
            width: 40px;
            height: 36px;
            padding: 0;

            @extend .extend_btn_default_gd;

            border-radius: 18px;

            font-size: 14px;
            font-weight: 400;

            + .v-btn {
              margin-left: 8px;
            }
            &.on .v-btn__content {
              color: $color01;
            }
          }
        }

        .v-divider {
          align-self: center;
          height: 32px;
          margin: 0 24px 0 20px;
          border-width: 1px;
        }
      }
    }

    //bottom
    .btn_step_control {
      .v-btn {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 50px;
        min-width: inherit;
        height: 50px;
        background: $bgColor03 url(/img/ico_arrow_end.png) no-repeat 50% 50%/34px;
        border-radius: 6px;
        text-indent: -9999px;
      }
      .first {
        left: 40px;
        transform: rotate(180deg);
      }
      .prev {
        left: 106px;
        background-image: url(/img/ico_arrow_next.png);
        transform: rotate(180deg);
      }
      .next {
        right: 40px;
        background-image: url(/img/ico_arrow_next.png);
      }
      .last {
        right: 106px;
      }
    }
  }

  // ContentStep03
  .content_step_03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: calc(100vh - 82px);

    > p {
      font-size: 18px;
      color: #fff;
      &:first-child {
        font-size: 26px;
        color: $color03;
        font-weight: 700;
      }
    }

    .set_info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 802px;
      height: 70px;
      margin-top: 20px;
      padding: 14px 0 16px;
      background: #7868e5;
      border-radius: 6px;
      > dl {
        display: flex;
        align-items: center;
        margin-left: 20px;
        dt {
          margin-left: 20px;
          font-size: 18px;
          color: $color03;
          font-weight: 700;
        }
        dd {
          width: 170px;
          height: 40px;
          margin-left: 20px;
          background: #9587f7;
          border-radius: 20px;
          font-size: 18px;
          color: #fff;
          text-align: center;
          line-height: 40px;
          white-space: nowrap;
        }
        &:first-child,
        &:first-child dt {
          margin-left: 0;
        }
        &:nth-child(2) {
          dd {
            width: 120px;
          }
        }
        &:nth-child(3) {
          dd {
            width: 194px;
          }
        }
        &::before {
          display: block;
          content: '';
          width: 2px;
          height: 30px;
          background: #9587f7;
        }
        &:first-child::before {
          display: none;
        }
      }
    }

    .set_info_table {
      overflow: hidden;
      width: 802px;
      margin-top: 16px;
      border: 2px solid #7868e5;
      border-radius: 6px;
      table {
        th {
          padding: 6px;
          background: $bgColor02;
          border-bottom: 2px solid #ffffff26;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
        }
        td {
          padding: 6px;
          border-bottom: 2px solid #ffffff26;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;

          .v-text-field__prefix__text {
            font-size: 18px;
          }
          .v-field__input > input {
            font-size: 16px;
          }
        }
        tr:last-child {
          th,
          td {
            border-bottom: none;
          }
        }
      }
      .sign_temp {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        height: 30px;
        padding: 0 8px;
        margin-right: 14px;
        background: #4d5965;
        border-radius: 15px;
        font-size: 16px;
        &.on {
          background: #7868e5;
        }
      }
      .text_value {
        > div {
          margin-top: 4px;
          &:first-child {
            margin-top: 0;
          }
          > strong + div {
            flex: 1;
            margin-left: 16px;
            > div {
              display: flex;
              > div:first-child {
                max-width: 200px;
              }
            }
          }
        }
        .v-input--density-default,
        .v-input--density-default .v-field--variant-solo {
          --v-input-control-height: 0;
          --v-field-padding-top: 0;
          --v-field-padding-bottom: 0;
        }
        .v-field {
          font-size: 12px;
        }
      }
    }
    .btn_group {
      margin-top: 28px;
    }
  }
}

// Main --

// -- dialog

.v-dialog {
  // 공통
  .v-overlay__content {
    > .v-card > .v-card-title {
      position: sticky;
      top: 0;
      z-index: 100;
      height: 54px;
      padding: 10px 78px 12px 24px;
      background: #7868e5;
      font-size: 18px;
      font-weight: 700;
    }
    .btn_close_ly {
      overflow: hidden;
      position: fixed;
      right: 24px;
      top: 10px;
      z-index: 999;
      width: 34px;
      min-width: auto;
      height: 34px;
      padding: 0;
      background: url(/img/bg_close_ly.png) no-repeat 0 0/34px;
      box-shadow: none;
      text-indent: -9999px;
    }
    > .v-card {
      background: $bgColor03;
    }

    .v-card-item__content {
      overflow: inherit;
    }
  }

  //관리자변경
  &.manager_set_area {
    .v-overlay__scrim {
      background: rgba(0, 0, 0, 0.8);
      opacity: 1;
    }

    .v-overlay__content > .v-card > .v-card-item {
      padding: 30px 40px 40px;
    }

    .v-card-text {
      font-size: 18px;
    }

    .field_area {
      width: 250px;
      margin-right: 30px;

      .v-input--density-default {
        background: $bgColor02;
        border-radius: 8px;
        max-height: 60px;
        --v-input-padding-top: 10px;

        .v-field--variant-outlined {
          --v-field-padding-bottom: 10px;
          padding-inline-start: 20px;
        }
      }

      .v-input__details {
        position: relative;
        z-index: 9999;
        margin-top: -16px;
        padding: 8px 8px 0 40px;
      }
      .v-messages__message {
        padding: 10px;
        background: #ffffff;
        border-radius: 6px;
        &::before {
          display: inline-block;
          content: '';
          position: absolute;
          top: -14px;
          border: 8px solid transparent;
          border-bottom-color: #fff;
        }
      }

      @extend .extend_login_field;
    }

    .btn_login {
      height: 60px;
      margin-top: 16px;
      border-radius: 8px;

      @extend .extend_btn_yellow_green_gd;
    }

    .radio_group {
      @include popRadioGroup(0px, 60px, 80px);
    }
  }

  // 객실설정, 업소변경
  &.room_set_area,
  &.place_set_area {
    justify-content: end;
    .v-overlay__scrim {
      background: rgba(0, 0, 0, 0.8);
      opacity: 1;
    }
    > .v-overlay__content {
      height: 100%;
      max-height: inherit;
      margin: 0;
      > .v-card {
        height: 100%;
      }
      > .v-card > .v-card-item {
        padding: 16px 24px;
      }
    }

    .v-card-subtitle {
      overflow: inherit;
      display: inline-flex;
      align-items: center;
      min-height: 26px;
      padding: 0 0 0 38px;
      background: url(/img/bg_bul_ly.png) no-repeat 0 50%/26px;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      opacity: 1;
    }

    .btn_apply {
      height: 50px;
      margin-top: 20px;
      border-radius: 6px;

      @extend .extend_btn_yellow_green_gd;
    }
  }

  &.room_set_area {
    li:first-child {
      .v-card-subtitle + .v-divider {
        margin: 10px 0 0;
      }
      .v-divider {
        margin-top: 16px;
      }
    }

    .v-divider {
      margin: 20px 0;
      border-width: 1px;
    }

    .basic_set_form {
      overflow: inherit;
      margin-top: 12px;
      background: none;
      > .v-card-title {
        overflow: initial;
        font-size: 16px;
        color: $color01;
        font-weight: 400;
      }
      > .v-card-item {
        margin-top: 6px;
        padding: 12px;
        background: $bgColor02;
        border-radius: 6px;
      }
      .v-card-item__content {
        display: flex;
        flex-wrap: wrap;
        margin: -4px -8px;
      }
      .label_field {
        width: 178px;
        margin: 4px 8px;
        &:nth-of-type(odd) {
          width: 144px;
        }
      }
      .v-input.field_round_type {
        max-width: 100px;
        &.w80 {
          max-width: 80px !important;
        }
      }
      .v-input.field_bpx_type {
        max-width: 100px;
      }
      label {
        color: #a9d6f0;
      }
    }

    .btn_apply {
      margin-top: 16px;
    }
  }

  &.place_set_area {
    li {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }

    .radio_group {
      @include popRadioGroup(14px, 120px, 140px);
    }
  }
}

// -- dialog

// -- common

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0.5;
}

.text_green {
  color: #aee52a;
  font-size: 0.9em;
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-data {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10% 10%;
  // border: 1px dashed #fff;
  color: #edad53;

  &.blue {
    color: #6777ed;
  }
  &.yellow {
    color: #e0ed67;
  }
}

.empty-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10% 10%;
  // border: 1px dashed #fff;
  color: #eb7474;

  &.blue {
    color: #6777ed;
  }
  &.yellow {
    color: #e0ed67;
  }
}
// -- common

// 반응형 설정

@media (max-width: 1200px) {
  .main .content_step_02 {
    overflow: auto;
    align-items: inherit;
    margin-right: 24px;
  }
}
@media (min-height: 801px) {
  .main .content_step_02 {
    justify-content: center;
  }
}
