<template>
  <div class="home">
    <h1>홈화면</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { IS_LOGINED } from '@/store/mutation_types';

import DashBoard from '@/views/main/Index.vue';
import IdleView from '@/views/IdleView.vue';

export default defineComponent({
  name: 'HomeView',
  components: {
    DashBoard,
    IdleView,
  },
  setup() {
    const componentName = getCurrentInstance()?.type?.name;
    const store = useStore();
    const router = useRouter();
  },
});
</script>
