<template>
  <div class="notfound">
    <div>
      <div class="area">
        <div class="cube">
          <h1>(404) Page NotFound</h1>
        </div>
      </div>
      <div class="area">
        <div class="msg">
          <h1>메인으로 이동 합니다.</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { IS_LOGINED } from '@/store/mutation_types';

import DashBoard from '@/views/main/Index.vue';
import IdleView from '@/views/IdleView.vue';

export default defineComponent({
  name: 'PageNotFound',
  components: {
    DashBoard,
    IdleView,
  },
  setup() {
    const componentName = getCurrentInstance()?.type?.name;
    const store = useStore();
    const router = useRouter();

    setTimeout(() => {
      router.push({ path: '/' });
    }, 3000);
  },
});
</script>
