<template>
  <div>
    <v-table density="comfortable" v-bind:height="height" class="table-list">
      <colgroup>
        <col width="100px" />
        <col width="auto" />
        <col width="120px" />
      </colgroup>
      <tbody>
        <tr>
          <td class="font-weight-light">[종합]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light"><span class="ico-round">중요</span></td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light"></td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link text-pink-accent-2">
                <v-icon icon="fa fa-angle-down" size="x-small" class="text-grey-darken-3" style="transform: rotate(45deg)"></v-icon>
                <span class="font-weight-light">댓글: 처리하였습니다. 점검부탁드립니다.</span>
              </a>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light">[종합]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light">[종합]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light">[종합]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="font-weight-light">[종합]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-blue">[숙박뉴스]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
        <tr>
          <td class="text-pink font-weight-light">[호텔,모텔]</td>
          <td>
            <div class="txt-ellipsis">
              <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
              <v-avatar color="#FC6060" tile size="17" class="ico-new">
                <span class="text-white text-caption">N</span>
              </v-avatar>
            </div>
          </td>
          <td class="text-center font-weight-light">12/24/10:36</td>
        </tr>
      </tbody>
    </v-table>
    <div class="pagenation">
      <v-row no-gutters="" justify="center">
        <v-col cols="8">
          <v-pagination
            v-model="page"
            density="compact"
            color="#304153"
            class="my-4 mb-0"
            :length="15"
          ></v-pagination>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "BorderList2",
  props: {
    height: {
      type: String,
    },
  },
  data() {
    return {
      pageActive: "1",
    };
  },
});
</script>
