<template>
  <v-card
    v-bind:width="width"
    v-bind:height="height"
    v-bind:color="bgColor"
    elevation="0"
    class="d-flex align-center justify-center px-4 pt-2 pb-1 mx-1"
  >
    <dl
      class="d-flex align-center justify-space-between width-auto"
      v-bind:class="{ 'flex-column': isVertical }"
      style="width: 100%"
    >
      <dt
        v-bind:style="{ color: titColor }"
        class="text-subtitle-2"
        v-if="titleHide !== true"
      >
        {{ title }}
      </dt>
      <dd
        class="text-h5 font-num font-weight-bold"
        v-if="countHide !== true"
        v-bind:style="{ color: textColor }"
      >
        <strong>{{ count }}</strong>
      </dd>
    </dl>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "CountCard",
  props: {
    color: {
      type: String,
    },
    title: {
      type: String,
    },
    width: {
      type: String,
    },
    height: {
      type: String,
    },
    count: {
      type: String,
    },
    isVertical: {
      type: Boolean,
    },
    bgColor: {
      type: String,
    },
    titColor: {
      type: String,
    },
    textColor: {
      type: String,
    },
    titleHide: {
      type: Boolean,
    },
    countHide: {
      type: Boolean,
    },
    // txtcolor: {
    //   type: String,
    // },
  },
  data() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.text-subtitle-2 {
  color: #fff;
}
</style>