<template>
  <div>
    <v-text-field
      ref="inputAmtPrev"
      v-if="isPrev"
      v-model="prevMoneyValue"
      :class="class"
      :variant="variant"
      :hideDetails="hideDetails"
      :baseColor="baseColor"
      :color="color"
      :readonly="readonly"
      :clearable="clearable"
      :prefix="prefix"
      @click:clear="selClearField"
      @keyup="setKeyupField"
    >
    </v-text-field>
    <v-text-field
      ref="inputAmt"
      v-model="moneyValue"
      :class="class"
      :variant="variant"
      :hideDetails="hideDetails"
      :baseColor="baseColor"
      :color="color"
      :readonly="readonly"
      :clearable="clearable"
      :prefix="isPrev ? '→' : prefix"
      @click:clear="selClearField"
      @keyup="setKeyupField"
    >
      <slot name="prepend-inner"></slot>
      <slot name="append-inner"></slot>
    </v-text-field>
  </div>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
} from 'vue';

import { validRules } from '@/utils/valid-util';
import format from '@/utils/format-util';
import _ from 'lodash';

export default defineComponent({
  name: 'CurrencyInput',
  components: {},
  props: {
    isPrev: {
      type: Boolean,
      default: false,
    },
    prevalue: {
      type: Number,
      default: 0,
    },
    value: {
      type: Number,
      default: 0,
    },
    class: {
      type: String,
      default: '',
    },
    variant: {
      type: String,
      default: 'solo',
    },
    hideDetails: {
      type: Boolean,
      default: false,
    },
    baseColor: {
      type: String,
      default: '#FFDE15',
    },
    color: {
      type: String,
      default: '#FFDE15',
    },
    prefix: {
      type: String,
      default: '',
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;

    const inputAmt = ref(null);

    // data
    const state = reactive({
      value: '0',
    });

    onMounted(() => {
      // console.log(componentName, '==> CurrencyInput onMounted ');
    });

    const prevMoneyValue = computed(() => {
      let num = format.toNumber(props.prevalue || 0);
      return Number(num).toLocaleString();
    });

    const moneyValue = computed({
      // getter
      get() {
        let num = format.toNumber(state.value || 0);
        num = Number(num).toLocaleString();

        // console.log(componentName, '-> moneyValue get', num);

        return num;
      },
      // setter
      set(nVal) {
        let num = format.toNumber(nVal || 0);
        num = Number(num).toLocaleString();

        // console.log(componentName, '-> moneyValue set', { nVal, num });

        state.value = num;
      },
    });

    // 부모 state 변경 감지.
    watch(
      () => props.value,
      (nVal: any, oVal: Number): void => {
        // console.log(componentName, '-> watch props.value ', {
        //   nVal,
        // });

        let num = format.toNumber(nVal || 0);

        state.value = num;
      },
      { immediate: true }
    );

    // 입력 필드 초기화
    const selClearField = (evt: any) => {
      console.log(componentName, '- selClearField ');

      context.emit('clearEvt', evt);
    };

    // 입력 필드 키업 이베트
    const setKeyupField = (evt: any) => {
      console.log(componentName, '- setKeyupField ');

      context.emit('keyupEvt', evt);
    };

    return {
      ...props,
      state,
      valid: validRules(),
      prevMoneyValue,
      moneyValue,
      selClearField,
      setKeyupField,
    };
  },
  emits: ['clearEvt', 'keyupEvt'],
});
</script>
