<template>
  <v-text-field
    single-line
    dese
    variant="outlined"
    hide-details="auto"
    density="compact"
    append-inner-icon="mdi mdi-calendar"
    class="date-field"
  ></v-text-field>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "CardboxTop",
  components: {},
  props: {
    width: {
      type: String,
    },
  },
  data() {
    return {};
  },
});
</script>
