<template>
  <v-card elevation="0" rounded="0" border="1" height="480" class="px-1 pt-1 pb-2 overflow-y-auto" style="border-top: none">
    <v-list-item class="px-0 flex-column">
      <v-row style="width: 100%;">
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-list-item>
    <v-list-item class="px-0 flex-column">
      <v-row style="width: 100%;">
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-list-item>
    <v-list-item class="px-0 flex-column">
      <v-row style="width: 100%;">
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card elevation="0" rounded="0">
            <v-card-title class="d-flex align-center px-0">
              <strong class="text-body-2 font-weight-bold">제목이 표시됩니다.</strong>
              <div class="d-flex align-center ml-auto">
                <span class="text-caption text-grey-darken-1">구독 채널명</span>
                <v-btn
                  variant="contained"
                  elevation="0"
                  color="#C7CCD1"
                  text-color="#fff"
                  width="52"
                  height="24"
                  class="text-caption rounded-pill pa-0 ml-1"
                >
                  + 구독
                </v-btn>
              </div>
            </v-card-title>
            <v-img
              cover
              src="https://picsum.photos/350/165?random"
              height="215"
              class="grey darken-4"
            ></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-list-item>
  </v-card>
  <div class="pagenation">
    <v-row no-gutters="" justify="center">
      <v-col cols="8">
        <v-pagination
          v-model="page"
          density="compact"
          color="#304153"
          class="my-4 mb-0"
          :length="15"
        ></v-pagination>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "ImageList",
  props: {},
  data() {
    return {
      page: 1,
    };
  },
});
</script>

