<template>
  <div class="num-ctrl">
    <v-btn
      min-width="16"
      width="16"
      min-height="16"
      height="16"
      rounded="sm"
      elevation="0"
      color="#3C4D60"
      text-color="#fff"
      v-bind:icon="preBtn"
      size="x-small"
      variant="contained"
    ></v-btn>
    <v-text-field
      single-line
      hide-details
      v-bind:model-value="modelValue"
      density="compact"
      color="#3C4D60"
      bg-color="#F9F9F9"
      variant="plain"
      class="input-box"
      v-bind:class="textAlign"
    ></v-text-field>
    <v-btn
      min-width="16"
      width="16"
      min-height="16"
      height="16"
      rounded="sm"
      elevation="0"
      color="#3C4D60"
      text-color="#fff"
      v-bind:icon="nextBtn"
      size="x-small"
      variant="contained"
    ></v-btn>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "NumCtrl",
  props: {
    preBtn : {
      type : String,
    },
    nextBtn : {
      type : String,
    },
    modelValue : {
      type : String,
    },
    textAlign : {
      type : String,
    },
  },
  data() {
    return {};
  },
});
</script>
