<template>
  <v-card-title class="text-subtitle-1 font-weight-bold pa-0">
    <v-img
      width="30"
      max-height="30"
      class="flex-grow-0 mr-2"
      src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
    ></v-img>
    <strong class="text-subtitle-1 font-weight-bold">
      {{ title }}
      <span v-if="textShow === true" class="text-body-2 text-grey-darken-1">{{ text }}</span>
    </strong>
    <div class="ml-auto">
      <v-btn
        v-if="fixBtnShow === true"
        elevation="0"
        width="36"
        min-width="36"
        height="26"
        border="1"
        rounded="pill"
        class="mr-2"
      >
        <v-icon icon="mdi mdi-pin" color="#304153" class="text-body-1" style="transform: rotate(45deg);"></v-icon>
      </v-btn>
      <v-btn
        elevation="0"
        width="36"
        min-width="36"
        height="26"
        border="1"
        rounded="pill"
      >
        <v-icon icon="mdi mdi-close-thick" color="#304153" class="text-body-1"></v-icon>
      </v-btn>
    </div>
  </v-card-title>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "PopupTitle",
  components: {},
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    textShow: {
      type: Boolean,
    },
    fixBtnShow: {
      type: Boolean,
    },
  },
  data() {
    return {};
  },
});
</script>
