<template>
  <v-card-header class="view-title">
    <v-img
      width="34"
      max-height="34"
      class="flex-grow-0 mr-3"
      src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
    ></v-img>
    <strong class="text-subtitle-1 font-weight-bold">{{ title }}</strong>
    <span v-if="textShow === true" class="text-caption text-grey-darken-1 ml-1">{{ text }}</span>
    <div :class="mlAuto">
      <v-btn
        elevation="0"
        width="36"
        min-width="36"
        height="26"
        border="1"
        rounded="pill"
        v-if="pinHide != true"
        class="mr-2"
      >
        <v-icon icon="mdi mdi-pin" color="#304153" class="text-body-1" style="transform: rotate(45deg);"></v-icon>
      </v-btn>
      <v-btn
        elevation="0"
        width="36"
        min-width="36"
        height="26"
        border="1"
        rounded="pill"
      >
        <v-icon icon="mdi mdi-close-thick" color="#304153" class="text-body-1"></v-icon>
      </v-btn>
    </div>
  </v-card-header>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "PopViewTitle",
  components: {},
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    textShow: {
      type: Boolean,
    },
    mlAuto: {
      type: String,
    },
    pinHide: {
      type: Boolean,
    },
  },
});
</script>

<style lang="scss" scoped>
.view-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  opacity: 1;
}
</style>
