<template>
  <v-toolbar elevation="0" height="40" tag="div" class="search-box2">
    <v-row no-gutters>
      <v-col class="round-left">
        <date-picker></date-picker>
      </v-col>
      <v-col>
        <date-picker></date-picker>
      </v-col>
      <v-col>
        <v-select
          :items="items"
          density="compact"
          hide-details
          single-line
          class="select-box"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          :items="items2"
          density="compact"
          hide-details
          single-line
          class="select-box"
        ></v-select>
      </v-col>
      <v-col class="round-right">
        <div class="search-input">
          <v-text-field
            single-line
            density="compact"
            class="rounded-0"
          ></v-text-field>
          <v-btn density="compact" icon="mdi mdi-magnify" size="small"></v-btn>
        </div>
      </v-col>
      <v-col v-if="btnShow === true" class="v-col-auto ml-2">
        <v-btn
          flat
          v-bind:color="btnColor"
          text-color="#fff"
          height="100%"
          variant="contained"
        >
          {{ btnText }}
        </v-btn>
      </v-col>
    </v-row>
  </v-toolbar>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import DatePicker from "./DatePicker.vue";
export default defineComponent({
  components: {
    DatePicker,
  },
  name: "SearchBox2",
  props: {
    btnShow: {
      type: Boolean,
    },
    btnText: {
      type: String,
    },
    btnColor: {
      type: String,
    },
  },
  data() {
    return {
      items: ["타입선택"],
      items2: ["구분선택"],
    };
  },
});
</script>

<style lang="scss" scoped>
.search-input {
  display: flex;
  align-items: center;
}
</style>
