<template>
  <v-btn-toggle group class="tab-box" style="height: 37px">
    <v-btn v-for="item in tabs" :key="item" height="36" style="flex: 1">
      {{ item }}
    </v-btn>
  </v-btn-toggle>
  <!-- <v-tabs>
    <v-tab>공지사항</v-tab>
    <v-tab>TODO - 미션</v-tab>
  </v-tabs> -->
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "TabCommon",
  props: {
    tabs: Array,
  },
  data() {
    return {};
  },
});
</script>
