<template>
  <div style="position: absolute;" class="tooltip-box">
    <v-card
      elevation="0"
      color="#3C4D60"
      class="px-2 py-1"
      v-bind:style="{ color: textColor }"
    >
      <p class="text-center text-caption">{{ text }}</p>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipCount",
  components: {},
  props: {
    text : {
      type : String,
    },
    textColor: {
      type: String,
    },
  },
  data() {
    return {
      show: true,
    };
  },
});
</script>
