<template>
  <div class="main">
    <main-top />
    <main-nav ref="childNavi" />
    <main-container ref="childContainer" />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  inject,
  provide,
  getCurrentInstance,
} from 'vue';

import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import MainTop from './MainTop.vue';
import MainNav from './MainNav.vue';
import MainContainer from './MainContainer.vue';

import { IS_LOGINED } from '@/store/mutation_types';

import Swal from 'sweetalert2';

import { list, item, post, put, del } from '@/api';

export default defineComponent({
  name: 'MainView',
  components: {
    MainTop,
    MainNav,
    MainContainer,
  },
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;

    const store = useStore();
    const router = useRouter();

    // data
    const state = reactive({});

    return { state };
  },
});
</script>
