<template>
  <nav class="db_nav">
    <v-list bg-color="rgba(0, 0, 0, 0)">
      <span class="text_blue" @click="state.step = 1">서브1</span>
      <v-list-item
        title="Step1"
        :class="state.step === 1 ? 'on' : ''"
      ></v-list-item>
      <span class="text_blue" @click="state.step = 2">서브2</span>
      <v-list-item
        title="Step2"
        :class="state.step === 2 ? 'on' : ''"
      ></v-list-item>
      <span class="text_blue" @click="state.step = 3">서브3</span>
      <v-list-item
        title="Step3"
        :class="state.step === 3 ? 'on' : ''"
      ></v-list-item>
    </v-list>
  </nav>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
  provide,
} from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

export default {
  name: 'MainNav',
  components: {},
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;
    const store = useStore();
    const router = useRouter();

    // data
    const state = reactive({
      step: 1,
    });

    return { state };
  },
};
</script>
