<template>
  <v-layout class="main_cont">
    <content-step-01 v-show="state.step == 1"></content-step-01>
    <content-step-02 v-show="state.step == 2"></content-step-02>
    <content-step-03 v-if="state.step == 3"></content-step-03>
  </v-layout>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
  getCurrentInstance,
  provide,
} from 'vue';

import { useStore } from 'vuex';

import _ from 'lodash';
import dayjs from 'dayjs';
import Swal from 'sweetalert2';

import { USER } from '@/store/mutation_types';

import ContentStep01 from './contents/contentStep01/Index.vue';
import ContentStep02 from './contents/contentStep02/Index.vue';
import ContentStep03 from './contents/contentStep03/Index.vue';

import WebSocketUtil from '@/utils/websocket-util';
import {
  getAllInterrupt,
  getInterrupt,
  newInterrupt,
  setInterrupt,
  delInterrupt,
} from '@/utils/chackin-interrupt-util';

export default defineComponent({
  name: 'MainContainer',
  components: {
    ContentStep01,
    ContentStep02,
    ContentStep03,
  },
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;

    const store = useStore();

    let { step = 1 } = props;

    // data
    const state = reactive({
      room_state: computed(() => store.getters['roomState/item']),
      step,
    });

    onMounted(() => {
      console.log(componentName, '- Rooms onMounted');
    });

    onBeforeUnmount(() => {
      console.log(componentName, '- Rooms onBeforeUnmount');
    });

    return {
      state,
    };
  },
});
</script>
