<template>
  <h1>메인 탑</h1>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { LOADER, USER, IS_LOGINED, TOKEN } from '@/store/mutation_types';

import Swal from 'sweetalert2';

export default defineComponent({
  name: 'MainTop',
  components: {},
  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;

    const store = useStore();
    const router = useRouter();

    // data
    const state = reactive({});

    return {
      state,
    };
  },
});
</script>
